*,
*::before,
*::after {
  box-sizing: border-box;
  /* To prevent the options from wrapping in small screens (<375px)*/
  white-space: nowrap;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100%;
}

h1 {
  line-height: 1.1;
  margin: 0 0 2rem 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

#app {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

form,
section {
  max-width: calc(600px - 2rem);
  margin: 0 auto;
}

.option {
  display: flex;
  justify-content: space-between;
}

#result-container {
  position: relative;
  border: 1px solid #aaa;
  border-radius: 0.5rem;
  overflow: hidden;
}

#result {
  text-align: left;
  margin: 0;
  padding: 0.5rem;
  overflow-x: auto;
  white-space: pre;
}

#copy-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  background: none;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  transition: 0.2s ease background-color;
}

#copy-btn:hover {
  background-color: #eee;
}

#copy-btn:active {
  background-color: #4ade80;
}

.has-tip {
  position: relative;
}

.has-tip .tip {
  position: absolute;
  bottom: -1.25rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.75rem;
  font-weight: normal;

  color: transparent;
  animation: transparent-color 1s infinite;
}

@keyframes transparent-color {
  0% {
    color: transparent;
  }

  50% {
    color: #000;
  }
}
